In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv(r"C:\Users\rushy\Desktop\First_semester\i501\Week_9_1\Apple-Twitter-Sentiment-DFE.csv",encoding ='latin1')
df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text
0,623495513,True,golden,10,NaN,3,0.6264,Mon Dec 01 19:30:03 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\nnot_relevant,#AAPL:The 10 best Steve Jobs emails ever...htt...
1,623495514,True,golden,12,NaN,3,0.8129,Mon Dec 01 19:43:51 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\n1,RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2,623495515,True,golden,10,NaN,3,1.0000,Mon Dec 01 19:50:28 +0000 2014,5.400000e+17,#AAPL OR @Apple,3,My cat only chews @apple cords. Such an #Apple...
3,623495516,True,golden,17,NaN,3,0.5848,Mon Dec 01 20:26:34 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\n1,I agree with @jimcramer that the #IndividualIn...
4,623495517,False,finalized,3,12/12/14 12:14,3,0.6474,Mon Dec 01 20:29:33 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,Nobody expects the Spanish Inquisition #AAPL

In [4]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['labeled_goled'] = label_encoder.fit_transform(df['_golden'])
df['labeled_unit_state'] = label_encoder.fit_transform(df['_unit_state'])
df

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text,labeled_goled,labeled_unit_state
0,623495513,True,golden,10,NaN,3,0.6264,Mon Dec 01 19:30:03 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\nnot_relevant,#AAPL:The 10 best Steve Jobs emails ever...htt...,1,1
1,623495514,True,golden,12,NaN,3,0.8129,Mon Dec 01 19:43:51 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\n1,RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...,1,1
2,623495515,True,golden,10,NaN,3,1.0000,Mon Dec 01 19:50:28 +0000 2014,5.400000e+17,#AAPL OR @Apple,3,My cat only chews @apple cords. Such an #Apple...,1,1
3,623495516,True,golden,17,NaN,3,0.5848,Mon Dec 01 20:26:34 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\n1,I agree with @jimcramer that the #IndividualIn...,1,1
4,623495517,False,finalized,3,12/12/14 12:14,3,0.6474,Mon Dec 01 20:29:33 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,Nobody expects the Spanish Inquisition #AAPL,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3881,623499442,True,golden,13,NaN,3,0.7757,Tue Dec 09 22:08:53 +0000 2014,5.420000e+17,#AAPL OR @Apple,5\n3,(Via FC) Apple Is Warming Up To Social Media -...,1,1
3882,623499450,True,golden,16,NaN,3,0.6225,Tue Dec 09 22:18:27 +0000 2014,5.420000e+17,#AAPL OR @Apple,3\n1,RT @MMLXIV: there is no avocado emoji may I as...,1,1
3883,623499486,True,golden,14,NaN,5,0.9347,Tue Dec 09 23:45:59 +0000 2014,5.420000e+17,#AAPL OR @Apple,5,@marcbulandr I could not agree more. Between @...,1,1
3884,623499514,True,golden,13,NaN,1,0.9230,Wed Dec 10 00:48:10 +0000 2014,5.420000e+17,#AAPL OR @Apple,1,My iPhone 5's photos are no longer downloading...,1,1
3885,623517290,True,golden,17,NaN,5,0.8938,Tue Dec 09 09:01:25 +0000 2014,5.420000e+17,#AAPL OR @Apple,5\n3\nnot_relevant,RT @SwiftKey: We're so excited to be named to ...,1,1

In [16]:
df['_trusted_judgments'].value_counts().sum()

3886

In [6]:
df['_trusted_judgments'].describe()

count    3886.000000
mean        3.687082
std         2.004595
min         3.000000
25%         3.000000
50%         3.000000
75%         3.000000
max        27.000000
Name: _trusted_judgments, dtype: float64

In [10]:
df['date'][1]

'Mon Dec 01 19:43:51 +0000 2014'

In [12]:
df['date'] = pd.to_datetime(df['date'],format='%a %b %d %H:%M:%S %z %Y')
df['day'] = df['date'].dt.strftime('%d')
df['month'] = df['date'].dt.strftime('%m')
df['year'] = df['date'].dt.strftime('%y')
df['day_month_year'] = df['date'].dt.strftime('%d/%m/%y')
df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text,labeled_goled,labeled_unit_state,day,month,year,day_month_year
0,623495513,True,golden,10,NaN,3,0.6264,2014-12-01 19:30:03+00:00,5.400000e+17,#AAPL OR @Apple,3\nnot_relevant,#AAPL:The 10 best Steve Jobs emails ever...htt...,1,1,01,12,14,01/12/14
1,623495514,True,golden,12,NaN,3,0.8129,2014-12-01 19:43:51+00:00,5.400000e+17,#AAPL OR @Apple,3\n1,RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...,1,1,01,12,14,01/12/14
2,623495515,True,golden,10,NaN,3,1.0000,2014-12-01 19:50:28+00:00,5.400000e+17,#AAPL OR @Apple,3,My cat only chews @apple cords. Such an #Apple...,1,1,01,12,14,01/12/14
3,623495516,True,golden,17,NaN,3,0.5848,2014-12-01 20:26:34+00:00,5.400000e+17,#AAPL OR @Apple,3\n1,I agree with @jimcramer that the #IndividualIn...,1,1,01,12,14,01/12/14
4,623495517,False,finalized,3,12/12/14 12:14,3,0.6474,2014-12-01 20:29:33+00:00,5.400000e+17,#AAPL OR @Apple,NaN,Nobody expects the Spanish Inquisition #AAPL,0,0,01,12,14,01/12/14

In [17]:
df['text'][1]

'RT @JPDesloges: Why AAPL Stock Had a Mini-Flash Crash Today $AAPL #aapl\nhttp://t.co/hGFcjYa0E9'

In [18]:
df['text'][2]

'My cat only chews @apple cords. Such an #AppleSnob.'

In [25]:
df['text'].unique()

array(['#AAPL:The 10 best Steve Jobs emails ever...http://t.co/82G1kL94tx',
       'RT @JPDesloges: Why AAPL Stock Had a Mini-Flash Crash Today $AAPL #aapl\nhttp://t.co/hGFcjYa0E9',
       'My cat only chews @apple cords. Such an #AppleSnob.', ...,
       'RT @MMLXIV: there is no avocado emoji may I ask why @apple',
       '@marcbulandr I could not agree more. Between @Apple @Twitter and @IBMWatson only great things will happen. #AppleandIBM #IBMandTwitter',
       "My iPhone 5's photos are no longer downloading automatically to my laptop when I sync it. @apple support is unhelpful. Any ideas?"],
      dtype=object)

In [38]:
import re

def clean_text(text):

    text = ' '.join(word for word in text.split() if not word.startswith('@'))
    text = re.sub(r'@[A-Za-z0-9]+', ' ', text)
    text = re.sub(r'http\S+', ' ', text)
    text = re.sub(r'[^A-Za-z0-9\s]+', ' ', text)
    text = re.sub(r'\s+', ' ', text).strip()
    text = text.lower()
    return text


df['cleaned_text'] = df['text'].apply(clean_text)
df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text,labeled_goled,labeled_unit_state,day,month,year,day_month_year,cleaned_text,cleaned_query
0,623495513,True,golden,10,NaN,3,0.6264,2014-12-01 19:30:03+00:00,5.400000e+17,#AAPL OR @Apple,3\nnot_relevant,#AAPL:The 10 best Steve Jobs emails ever...htt...,1,1,01,12,14,01/12/14,aapl the 10 best steve jobs emails ever,aapl or
1,623495514,True,golden,12,NaN,3,0.8129,2014-12-01 19:43:51+00:00,5.400000e+17,#AAPL OR @Apple,3\n1,RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...,1,1,01,12,14,01/12/14,rt why aapl stock had a mini flash crash today...,aapl or
2,623495515,True,golden,10,NaN,3,1.0000,2014-12-01 19:50:28+00:00,5.400000e+17,#AAPL OR @Apple,3,My cat only chews @apple cords. Such an #Apple...,1,1,01,12,14,01/12/14,my cat only chews cords such an applesnob,aapl or
3,623495516,True,golden,17,NaN,3,0.5848,2014-12-01 20:26:34+00:00,5.400000e+17,#AAPL OR @Apple,3\n1,I agree with @jimcramer that the #IndividualIn...,1,1,01,12,14,01/12/14,i agree with that the individualinvestor shoul...,aapl or
4,623495517,False,finalized,3,12/12/14 12:14,3,0.6474,2014-12-01 20:29:33+00:00,5.400000e+17,#AAPL OR @Apple,NaN,Nobody expects the Spanish Inquisition #AAPL,0,0,01,12,14,01/12/14,nobody expects the spanish inquisition aapl,aapl or

In [41]:
cleaned_df = df[['_unit_id','labeled_goled','labeled_unit_state','_trusted_judgments','sentiment','sentiment:confidence','day','month','year','day_month_year','cleaned_text']]
cleaned_df

,_unit_id,labeled_goled,labeled_unit_state,_trusted_judgments,sentiment,sentiment:confidence,day,month,year,day_month_year,cleaned_text
0,623495513,1,1,10,3,0.6264,01,12,14,01/12/14,aapl the 10 best steve jobs emails ever
1,623495514,1,1,12,3,0.8129,01,12,14,01/12/14,rt why aapl stock had a mini flash crash today...
2,623495515,1,1,10,3,1.0000,01,12,14,01/12/14,my cat only chews cords such an applesnob
3,623495516,1,1,17,3,0.5848,01,12,14,01/12/14,i agree with that the individualinvestor shoul...
4,623495517,0,0,3,3,0.6474,01,12,14,01/12/14,nobody expects the spanish inquisition aapl
...,...,...,...,...,...,...,...,...,...,...,...
3881,623499442,1,1,13,3,0.7757,09,12,14,09/12/14,via fc apple is warming up to social media app...
3882,623499450,1,1,16,3,0.6225,09,12,14,09/12/14,rt there is no avocado emoji may i ask why
3883,623499486,1,1,14,5,0.9347,09,12,14,09/12/14,i could not agree more between and only great ...
3884,623499514,1,1,13,1,0.9230,10,12,14,10/12/14,my iphone 5 s photos are no longer downloading...
3885,623517290,1,1,17,5,0.8938,09,12,14,09/12/14,rt we re so excited to be named to app store b...